@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background-image: url('https://source.unsplash.com/random?farm');
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1, h2 {
  color: #184d47;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

h1::before, h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover;
  z-index: -1;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
}

label {
  margin-bottom: 5px;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

input[type="submit"] {
  background-color: #184d47;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #d9ead3;
  font-weight: 500;
}

tr:nth-child(even) {
  background-color: #d9ead3;
}

tr:hover {
  background-color: #b6d7a8;
}

.homepage-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.option {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
}

input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.dashboard-link {
  display: inline-block;
  background-color: #184d47;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.dashboard-link:hover {
  background-color: #149c85;
}