<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>CattleWeightDataApp</display-name>
    <description>Data collection app for receiving cattle weight data</description>

    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>CattleWeightServlet</servlet-name>
        <servlet-class>CattleWeightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CattleWeightServlet</servlet-name>
        <url-pattern>/CattleWeightServlet</url-pattern>
    </servlet-mapping>

    <!-- Welcome file list (default page) -->
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>CattleWeightServlet</listener-class>
    </listener>

</web-app>
